@reference "#global.css";

.dialogContent {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/components/dialog.css */
/* Custom open and close animation */
@media (prefers-reduced-motion: no-preference) {
  @keyframes DialogContentShow {
    from {
      opacity: 0;
      transform: translateX(20px) scale(0.97);
    }
    to {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }

  @keyframes DialogContentHide {
    from {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
    to {
      opacity: 0;
      transform: translateX(20px) scale(0.99);
    }
  }

  .dialogContent[data-state="open"] {
    animation: DialogContentShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .dialogContent[data-state="closed"] {
    animation: DialogContentHide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}
