@layer theme, base, radix-themes, components, utilities;

@import "tailwindcss";
@import "tw-animate-css";
@import "@radix-ui/themes/styles.css" layer(radix-themes);
@import "radix-themes-tw/theme.css";

@plugin "@tailwindcss/typography";
@config "../../tailwind.config.ts";

:root {
  --header-height: 70px;
}

@layer components {
  /* TipTap editor */
  .editor {
    @apply mt-8;
  }

  .editor .ProseMirror {
    min-height: 150px;
  }

  .editor .ProseMirror-focused {
    outline: none;
  }

  .editor .ProseMirror .is-empty::before {
    @apply float-left pointer-events-none h-0 animate-in fade-in text-gray-8;
    content: attr(data-placeholder);
  }

  /* TipTap BubbleMenu Tippyjs theme */
  .tippy-box[data-theme~="sigle-editor-bubble-menu"] {
    @apply rounded-3 bg-gray-12;
  }
  .tippy-box[data-theme~="sigle-editor-bubble-menu"][data-placement^="top"]
    > .tippy-arrow::before {
    @apply border-t-gray-12;
  }
  .tippy-box[data-theme~="sigle-editor-bubble-menu"][data-placement^="bottom"]
    > .tippy-arrow::before {
    @apply border-b-gray-12;
  }
  .tippy-box[data-theme~="sigle-editor-bubble-menu"][data-placement^="left"]
    > .tippy-arrow::before {
    @apply border-l-gray-12;
  }
  .tippy-box[data-theme~="sigle-editor-bubble-menu"][data-placement^="right"]
    > .tippy-arrow::before {
    @apply border-r-gray-12;
  }
  .tippy-box[data-theme~="sigle-editor-bubble-menu"] .tippy-content {
    @apply p-0 text-gray-1;
  }
}
