@reference "#global.css";

.editor {
  @apply mt-8;
}

.editor .ProseMirror {
  min-height: 150px;
}

.editor .ProseMirror-focused {
  outline: none;
}

.editor .ProseMirror .is-empty::before {
  @apply pointer-events-none float-left h-0 animate-in text-muted-foreground/50 fade-in;
  content: attr(data-placeholder);
}
