<mjml>
  <mj-head>
    <mj-font
      name='Open Sans'
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'
    ></mj-font>
    <mj-attributes>
      <mj-all
        font-family='Open Sans, Roboto, sans-serif, Arial'
        font-size='15px'
        line-height='20px'
      ></mj-all>
      <mj-text color='#1A1A1A'></mj-text>
      <mj-button background-color='#6558FF' border-radius='8px'></mj-button>
      <mj-title>Verify your email</mj-title>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image
          src='https://app.sigle.io/img/logo.png'
          href='https://www.sigle.io'
          alt='logo'
          width='95px'
          align='left'
        ></mj-image>

        <mj-text font-size='18px' padding-bottom='0' padding-top='20px'>You are
          just one click away...</mj-text>
        <mj-text font-size='24px' font-weight='700'>Verify your email address!</mj-text>
        <mj-text font-size='16px'>
          <p>Hi, 👋<br /><br />
            You’re almost ready. Please click on the button below to verify your
            email address and start subscribing to your favorite writers.<br
            /><br />

            The link will expire in
            <strong>1 hour</strong>.</p>
        </mj-text>

        <mj-button align='left' href='{{verifyEmailUrl}}'>Verify your email</mj-button>

        <mj-text font-size='16px'>
          <p>Thank you for using Sigle!</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding='0 25px'>
      <mj-column
        background-color='#EDEDED'
        border-top='1px solid #1A1A1A'
        padding='10px 0'
      >
        <mj-text font-size='14px' align='left' font-weight='700'>Get in touch!</mj-text>
        <mj-social
          padding-top='0'
          padding-bottom='0'
          icon-size='24px'
          mode='horizontal'
          align='left'
        >
          <mj-social-element
            padding='4px 4px 4px 0'
            src='https://app.sigle.io/img/emails/twitter-transactional.png'
            href='https://twitter.com/sigleapp'
          ></mj-social-element>
          <mj-social-element
            src='https://app.sigle.io/img/emails/github-transactional.png'
            href='https://github.com/sigle'
          ></mj-social-element>
          <mj-social-element
            src='https://app.sigle.io/img/emails/discord-transactional.png'
            href='https://discord.gg/X2Dbz3xbrs'
          ></mj-social-element>
          <mj-social-element
            src='https://app.sigle.io/img/emails/sigle-transactional.png'
            href='https://www.sigle.io'
          ></mj-social-element>
        </mj-social>
        <mj-text font-size='14px' align='left'>hello@sigle.io</mj-text>mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding='0 25px'>
      <mj-column background-color='#EDEDED' border-top='1px solid #1A1A1A'>
        <mj-text font-size='12px' align='left'>
          © Sigle 2023
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>