@layer tw_base, radix_ui, tw_components_utils, utils;
@import "@radix-ui/themes/styles.css" layer(radix_ui);

@layer tw_base {
  @tailwind base;
}

@layer tw_components_utils {
  @tailwind components;
  @tailwind utilities;
}

@layer utils {
  /* Custom application styles */
  :root {
    --container-5: 1240px;
  }

  /* As the radix container can't be extended easily we add one more breakpoint here */
  .rt-ContainerInner {
    :where(.rt-Container.rt-r-size-5) & {
      max-width: var(--container-5);
    }
  }

  /* Set all the Tabs underline to be gray as there is not prop to configure the Tabs color */
  .rt-TabsTrigger:where([data-state="active"])::before {
    background-color: var(--gray-11);
  }
}
