name: Node CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-sigle:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2
        with:
          version: 7.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Get next.js sigle cache
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/sigle/.next/cache
          key: ${{ runner.os }}-nextjs-sigle-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Dependencies
        run: pnpm install

      - name: Build sigle
        run: pnpm --filter=@sigle/app run build

      - name: Run sigle tests
        run: pnpm --filter=@sigle/app run test

  test-api:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]
    services:
      redis:
        image: redis:6.2
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
      postgres:
        # Docker Hub image
        image: postgres:14
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgresuser
          POSTGRES_PASSWORD: postgrespassword
          POSTGRES_DB: postgresdb
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2
        with:
          version: 7.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Lint api
        run: pnpm --filter=@sigle/server run lint

      - name: Build api
        run: pnpm --filter=@sigle/server run build

      - name: Apply prisma migrations
        run: cd server && pnpm prisma migrate deploy
        env:
          PG_DATABASE_URL: 'postgres://postgresuser:postgrespassword@localhost:5432/postgresdb'

      - name: Run api tests
        run: pnpm --filter=@sigle/server run test

  test-api-tmp:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]
    services:
      postgres:
        # Docker Hub image
        image: postgres:14
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgresuser
          POSTGRES_PASSWORD: postgrespassword
          POSTGRES_DB: postgresdb
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2
        with:
          version: 7.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Lint api
        run: pnpm --filter=@sigle/server-tmp run lint

      - name: Build api
        run: pnpm --filter=@sigle/server-tmp run build

      - name: Run api tests
        run: pnpm --filter=@sigle/server-tmp run test

      - name: Seed test DB
        run: cd server-nest && pnpm prisma seed
        env:
          PG_DATABASE_URL: 'postgres://postgresuser:postgrespassword@localhost:5432/postgresdb'

      - name: Run api e2e tests
        run: pnpm --filter=@sigle/server-tmp run test:e2e
