name: Node CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-sigle:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2
        with:
          version: 7.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Get next.js sigle cache
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/sigle/.next/cache
          key: ${{ runner.os }}-nextjs-sigle-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Dependencies
        run: pnpm install

      - name: Build sigle
        run: pnpm --filter=@sigle/app run build

      - name: Run sigle tests
        run: pnpm --filter=@sigle/app run test

  test-api:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]
    services:
      redis:
        image: redis:6.2
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2
        with:
          version: 7.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Lint api
        run: pnpm --filter=@sigle/api run lint

      - name: Build api
        run: pnpm --filter=@sigle/api run build

      - name: Run api tests
        run: pnpm --filter=@sigle/api run test
