name: Node CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-sigle:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [14]

    steps:
      - uses: actions/checkout@v1

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.22.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Get next.js sigle cache
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/sigle/.next/cache
          key: ${{ runner.os }}-nextjs-sigle-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Dependencies
        run: pnpm install

      - name: Build sigle
        run: pnpm run build --filter=sigle

      - name: Run sigle tests
        run: pnpm run test --filter=sigle

  test-blog-viewer:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [14]

    steps:
      - uses: actions/checkout@v1

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.22.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Get next.js blog-viewer cache
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/blog-viewer/.next/cache
          key: ${{ runner.os }}-nextjs-blog-viewer-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Dependencies
        run: pnpm install

      - name: Build blog-viewer
        run: pnpm run build --filter=blog-viewer

      - name: Run blog-viewer tests
        run: pnpm run test --filter=blog-viewer
        env:
          CI: true

  test-packages:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [14]

    steps:
      - uses: actions/checkout@v1

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.22.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Build packages/slate-to-markdown
        run: pnpm run build --filter=@sigle/slate-to-markdown
